[Desktop Entry]
Name=OpenPlotter Network
Exec=openplotter-network
Icon=openplotter-network
StartupNotify=true
Terminal=false
Type=Application
Categories=OpenPlotter