Source: openplotter-network
Section: misc
Priority: optional
Maintainer: Sailoog <info@sailoog.com>
Build-Depends: debhelper (>=9),dh-python,python3-all,python3-setuptools
Standards-Version: 3.9.6
Homepage: https://github.com/openplotter/openplotter-network
X-Python3-Version: >= 3.2

Package: openplotter-network
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python3:Depends}, openplotter-settings, hostapd, dnsmasq, bridge-utils, dialog, usbmuxd, libnss-mdns, avahi-utils, libavahi-compat-libdnssd-dev, rfkill, python3-pip
Description: OpenPlotter app to manage network connections in Raspberry Pi
 OpenPlotter app to manage network connections in Raspberry Pi
